body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*

------------------------------------------------MAIN-SECTION

*/

.main {
  padding-left: 6vw;
  padding-right: 6vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  width: 100%;
  height: 3.646vw;
  z-index: 9999;
  background-color: #E7E7E7;
  filter: drop-shadow(0px -4px 49px rgba(0, 0, 0, 0.15));
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
}

.header-brand {
  font-size: 1.667vw;
  font-family: sans-serif;
  color: #9381FF;
  text-transform: uppercase;
  font-weight: bold;

}

.nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.458vw;
  row-gap: 1.458vw;
  column-gap: 1.458vw;
  padding-right: 10vw;
}

.nav-btn {
  color: #9381FF;
  font-size: 1.250vw;
}

.main-section {
  display: flex;
  padding-right: 10vw;
  padding-left: 10vw;
  background-image: url(../src/img/lines.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.main-section-title {
  font-size: 4vw;
  font-family: 'Play', sans-serif;
  color: #5162F4;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-left: -3px;
  margin-bottom: 3.646vw;
  line-height: 1.2;
}

.main-section-image {
  width: 30vw;
  animation: float 6s ease-in-out infinite;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: float;
}


.main-section-left {
  padding-top: 2vw;
  width: 57%;
  display: inline-block;
}

.main-section-shadow {
  position: absolute;
  width: 30.208vw;
  height: 30.208vw;
  left: 40%;
  border-radius: 50%;
  background: #819DFF;
  opacity: 0.4;
  filter: blur(140px);
  -webkit-filter: blur(140px);
  z-index: -1;
}

.main-section-right {
  margin-top: 7vw;
  width: 63%; /* Ширина области */
  height: 50vw; /* Высота области */
  overflow: hidden; /* Прячем всё за пределами */
  min-width: 10vw; /* Минимальная ширина */
  background-image: url(../src/img/iphone.png);
  background-size: cover;
}


/*

------------------------------------------------SHOP-SECTION

*/



.container-shop-icons {
  display: flex;
  justify-content: center;
}

.shop-icons {
  cursor: pointer;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 4vw;
  left: 55.6vw;
  top: 2.5vw;
  height: 4vw;
  margin-top: -4vw;
}

.container-shop-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.shop-button {
  border: solid 0.5vm;
  margin: 1vw;
  width: 60vw;
  background-color: white;
  border-radius: 3vw;
  cursor: pointer;
  color: #000000;
  font-size: 1.4vw;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
}

.shop-card {
  width: 21vw;
  height: 25vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 2.5vw;
  background-color: #f2f2f2;
}

.card-variables{
  margin: 0.3vw;
  font-size: 2vw;
}

.shop-cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.create-line {
  width: 20vw;
  border-top: 0.1vw solid #32a1ce;
}

.card-child-1 {
  margin-top: 3vw;
}

.old-price {
  text-decoration: line-through;
}

.btn-color-instagram{
  width: 11vw;
  background-color: #5162f4;
  border-radius: 1vw;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  transition: background 9999999s;
}

.btn-color-telegram {
  width: 11vw;
  background-color: #00abdf;
  border-radius: 1vw;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}

.btn-color-tiktok {
  width: 11vw;
  background-color: #6832a8;
  border-radius: 1vw;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}

.btn-color-youtube {
  width: 11vw;
  background-color: #d22215;
  border-radius: 1vw;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}



.active-instagram {
  background-color: #5162f4;
  color: #E7E7E7;
}

.active-telegram {
  background-color: #00abdf;
  color: #E7E7E7;
}

.active-tiktok {
  background-color: #6832a8;
  color: #E7E7E7;
}

.active-youtube {
  background-color: #d22215;
  color: #E7E7E7;
}
